@font-face {
  font-family: "Bodoni Moda";
  src: url("/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodoni Moda";
  src: url("/fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jacquard 24";
  src: url("/fonts/Jacquard_24/Jacquard24-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
