@use "./variables" as *;
@use "./fonts";

* { margin: 0; padding: 0; box-sizing: border-box; }

body { display:flex; height:100vh; width:100vw; background-color:$color-bg; font-family: "Bodoni Moda", serif; color:$color-text; }

.logo { font-family: "Jacquard 24", cursive; position:absolute; width:100%; padding: 1.5625rem 3.125rem; }
header .logo { position:relative; width:auto; padding:0; }

/* Font face retained via CDN in index.html */
